@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

html,body {
    padding: 0;
    margin: 0;
    min-height:100%;
    
}
  
body{
    
    height: 100%;
    color: #000000;
    
}

header{
    background: #000000;
}

main{
    height: 100%;
    
    
}
.row{
    padding: 0 ;
    margin: 0 !important;
}

#body_red{
    background-color: #1D1D1D;
    color: #ffffff;
}

#h1_light{
    font-size: 53px;
    opacity: 0.5;
}

#details_btn_red{
    color: #ffffff;
    background-color: #5E3333;
    font-size: 18px;
}

#wijnflesfoto{
    width: 350px;
    height: auto;
}

#terug_light{
    color: #ffffff;
}

h2{
    font-family: 'Rozha One', serif;
}

.img-home{
    width: 66px;
    height: 76px;
}

p{
    font-size: 12px;
}

.img-nav{
    text-align: center;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.wine-item{
    background-color: rgba(211,211,211,0.3);
    border-radius: 10px;
    margin-bottom: 5px;
    
}